@charset "UTF-8";
/**
 *
 * @package Maupassant
 * @author cho
 * @version 2.0
 * @link http://chopstack.com
 */
/*
pure css setting
When setting the primary font stack, apply it to the Pure grid units along
with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use
specific font stacks to ensure the greatest OS/browser compatibility.
*/
html,
button,
input,
select,
textarea,
.MJXc-TeX-unknown-R,
.pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: "PingFangSC-Regular", Helvetica, "Helvetica Neue", "Segoe UI", "Hiragino Sans GB", "Source Han Sans CN", "Microsoft YaHei", "STHeiti", "WenQuanYi Micro Hei", sans-serif !important; }

body {
  background-color: #FFF;
  color: #444;
  font-family: "TIBch", "Classic Grotesque W01", "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px; }

.body_container {
  padding: 0 60px;
  max-width: 1150px;
  margin: 0 auto; }

.content_container {
  padding-right: 50px;
  padding-top: 20px; }

a,
button.submit {
  color: #6E7173;
  text-decoration: none;
  -webkit-transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: all .1s ease-in; }

a:hover,
a:active {
  color: #444; }

a:focus {
  outline: auto; }

.clear {
  clear: both; }

div {
  box-sizing: border-box; }

#header {
  padding: 58px 0 0;
  text-align: left;
  border-bottom: 1px solid #ddd;
  position: relative; }
  #header .site-name {
    margin-bottom: 40px; }
    #header .site-name h1 {
      padding: 0;
      margin: 0;
      height: 0;
      overflow: hidden; }
    #header .site-name #logo {
      font: bold 38px/1.12 "Times New Roman", Georgia, Times, sans-serif;
      color: #555; }
      #header .site-name #logo span, #header .site-name #logo:hover {
        color: #777; }
    #header .site-name .description {
      margin: .2em 0 0;
      color: #999; }
  #header #nav-menu {
    margin: 10px 0 -1px;
    padding: 0;
    position: absolute;
    right: 0;
    bottom: 0; }
    #header #nav-menu a {
      display: inline-block;
      padding: 3px 20px 3px;
      line-height: 30px;
      color: #444;
      font-size: 13px;
      border: 1px solid transparent; }
      #header #nav-menu a:hover {
        border-bottom-color: #444; }
      #header #nav-menu a.current {
        border: 1px solid #ddd;
        border-bottom-color: #fff; }

#sidebar {
  border-left: 1px solid #ddd;
  padding-left: 35px;
  margin-top: 40px;
  padding-bottom: 20px;
  word-wrap: break-word; }
  #sidebar .widget {
    margin-bottom: 30px; }
    #sidebar .widget .widget-title {
      color: #6E7173;
      line-height: 2.7;
      margin-top: 0;
      font-size: 16px;
      border-bottom: 1px solid #ddd;
      display: block;
      font-weight: normal; }
    #sidebar .widget .comments-title {
      color: #6E7173;
      line-height: 2.7;
      margin-top: 0;
      font-size: 16px;
      border-bottom: 0px solid #ddd;
      display: block;
      font-weight: normal; }
    #sidebar .widget .tagcloud {
      margin-top: 10px; }
      #sidebar .widget .tagcloud a {
        line-height: 1.5;
        padding: 5px; }
    #sidebar .widget ul {
      list-style: none;
      padding: 0; }
      #sidebar .widget ul li {
        margin: 5px 0;
        line-height: 1.5; }
    #sidebar .widget .category-list-count {
      padding-left: 5px;
      color: #6E7173; }
    #sidebar .widget .category-list-count::before {
      content: "("; }
    #sidebar .widget .category-list-count::after {
      content: ")"; }
    #sidebar .widget .search-form {
      position: relative;
      overflow: hidden; }
      #sidebar .widget .search-form input {
        background: #fff 8px 8px no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6%2BR8AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAG11AABzoAAA%2FN0AAINkAABw6AAA7GgAADA%2BAAAQkOTsmeoAAAESSURBVHjajNCxS9VRGMbxz71E4OwgoXPQxVEpXCI47%2BZqGP0LCoJO7UVD3QZzb3SwcHB7F3Uw3Zpd%2FAPCcJKG7Dj4u%2FK7Pwp94HDg5Xyf5z1Pr9YKImKANTzFXxzjU2ae6qhXaxURr%2FAFl9hHDy%2FwEK8z89sYVEp5gh84wMvMvGiSJ%2FEV85jNzLMR1McqfmN5BEBmnmMJFSvtpH7jdJiZv7q7Z%2BZPfMdcF6rN%2FT%2F1m2LGBkd4HhFT3dcRMY2FpskxaLNpayciHrWAGeziD7b%2BVfkithuTk8bkGa4wgWFmbrSTZOYeBvjc%2BucQj%2FEe6xHx4Taq1nrnKaW8K6XUUsrHWuvNevdRRLzFGwzvDbXAB9cDAHvhedDruuxSAAAAAElFTkSuQmCC);
        padding: 7px 11px 7px 28px;
        line-height: 16px;
        border: 1px solid #bbb;
        width: 65%;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none; }
    #sidebar .widget .author-info {
      text-align: center; }
      #sidebar .widget .author-info a.info-avatar img {
        border-radius: 50%;
        padding: 4px;
        width: 96px;
        height: 96px;
        background-color: transparent;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
      #sidebar .widget .author-info a.info-icon {
        font-size: 25px; }

/* title for search result or tagged posts*/
.label-title {
  margin-top: 1.1em;
  font-size: 20px;
  font-weight: normal;
  color: #888; }

.post {
  padding: 25px 0 15px; }
  .post .post-title {
    margin: 0;
    color: #555;
    text-align: left;
    font: bold 25px/1.1 "ff-tisa-web-pro", Cambria, "Times New Roman", Georgia, Times, sans-serif; }
    .post .post-title a {
      color: #555; }
  .post .post-meta {
    padding: 0;
    margin: 15px 0 0;
    color: #6E7173;
    float: left;
    display: inline;
    text-indent: .15em; }
    .post .post-meta:before {
      font-family: "FontAwesome";
      content: "\f073";
      padding-right: 0.3em; }
    .post .post-meta .category:before {
      font-family: "FontAwesome";
      content: "\f07c";
      padding-right: 0.3em; }
    .post .post-meta #busuanzi_value_page_pv:before {
      font-family: "FontAwesome";
      content: "\f024";
      padding-right: 0.3em; }
  .post .ds-thread-count {
    padding: 0;
    margin: 15px 0 0;
    color: #6E7173;
    float: right;
    display: inline;
    text-indent: .15em; }
    .post .ds-thread-count:before {
      font-family: "FontAwesome";
      content: "\f0e5";
      padding-right: 0.3em; }
    .post .ds-thread-count:hover {
      color: #444; }
  .post .disqus-comment-count {
    padding: 0;
    margin: 15px 0 0;
    color: #6E7173;
    float: right;
    display: inline;
    text-indent: .15em; }
    .post .disqus-comment-count:before {
      font-family: "FontAwesome";
      content: "\f0e5";
      padding-right: 0.3em; }
    .post .disqus-comment-count:hover {
      color: #444; }
  .post .post-content {
    clear: left;
    font-size: 15px;
    line-height: 1.77;
    color: #444;
    padding-top: 15px;
    text-align: justify;
    text-justify: distribute;
    word-break: normal; }
    .post .post-content h2 {
      margin: 1.4em 0 1.1em;
      border-bottom: 1px solid #eee;
      overflow: hidden; }
    .post .post-content h3 {
      margin: 1.4em 0 1.1em; }
    .post .post-content pre code {
      padding: 0 2em; }
    .post .post-content p {
      margin: 0 0 1.234em;
      word-break: break-word;
      overflow-wrap: break-word; }
      .post .post-content p code {
        display: inline-block;
        margin: 0 5px;
        padding: 0 5px;
        background: #f7f8f8;
        font-family: Menlo, Consolas, monospace !important; }
      .post .post-content p a {
        color: #01579f;
        padding-bottom: 2px;
        word-break: normal; }
        .post .post-content p a:hover {
          text-decoration: underline; }
    .post .post-content .caption {
      color: #444;
      display: block;
      font-size: 0.9em;
      margin-top: 0.1em;
      position: relative;
      text-align: center; }
    .post .post-content hr {
      margin: 2.4em auto;
      border: none;
      border-top: 1px solid #eee;
      position: relative; }
    .post .post-content img {
      max-width: 100%;
      padding: 0.5em 0;
      margin: auto;
      display: block; }
    .post .post-content ul,
    .post .post-content ol {
      border-radius: 3px;
      margin: 1em 0; }
      .post .post-content ul ul,
      .post .post-content ol ul {
        margin: 0; }
      .post .post-content ul code,
      .post .post-content ol code {
        display: inline-block;
        margin: 0 5px;
        padding: 0px 5px;
        background: #f7f8f8;
        font-family: Menlo, Consolas, monospace !important; }
      .post .post-content ul a,
      .post .post-content ol a {
        color: #01579f;
        padding-bottom: 2px;
        word-break: normal; }
        .post .post-content ul a:hover,
        .post .post-content ol a:hover {
          text-decoration: underline; }
    .post .post-content .tagcloud {
      margin: 0 0 30px 0; }
      .post .post-content .tagcloud a {
        padding: 0px 5px;
        margin: 3px;
        display: inline-block;
        border: 1px solid #808080;
        border-radius: 999em;
        color: #aaa; }
        .post .post-content .tagcloud a:hover {
          color: #fff;
          border: 1px solid #808080;
          background: #808080; }
    .post .post-content .one-tag-list {
      margin: 30px 0; }
      .post .post-content .one-tag-list .tag-name .tag-text {
        margin-left: 5px;
        font-size: 16px;
        font-weight: bold; }
  .post .tags a {
    margin-right: .5em; }
    .post .tags a i {
      padding-right: 0.3em; }
      .post .tags a i:before {
        margin-right: 0.3em; }

.page-navigator {
  border-top: 1px solid #ddd;
  list-style: none;
  margin-top: 25px;
  padding: 25px 0 0;
  font-size: 14px;
  text-align: center; }
  .page-navigator .page-number {
    display: inline-block;
    margin: 0 5px 5px 0; }
  .page-navigator a,
  .page-navigator span {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 5px 9px;
    border: 1px solid #DDD;
    text-align: center; }
    .page-navigator a:hover,
    .page-navigator span:hover {
      background: #F8F8F8;
      border-bottom-color: #D26911; }
    .page-navigator a.prev,
    .page-navigator span.prev {
      float: left; }
      .page-navigator a.prev:before,
      .page-navigator span.prev:before {
        font-family: "FontAwesome";
        content: "\f100";
        padding-right: 0.3em; }
    .page-navigator a.next,
    .page-navigator span.next {
      float: right; }
      .page-navigator a.next:after,
      .page-navigator span.next:after {
        font-family: "FontAwesome";
        content: "\f101";
        padding-left: 0.3em; }
  .page-navigator .current {
    background: #F8F8F8;
    border-bottom-color: #D26911; }
  .page-navigator .space {
    border: none;
    padding: 5px 5px; }

#footer {
  padding: .8em 0 3.6em;
  margin-top: 1em;
  line-height: 2.5;
  color: #6E7173;
  text-align: center; }
  #footer #footer-normal {
    display: none; }
  #footer #footer-cn {
    display: none; }

/* for archive page starts*/
.post-archive {
  font-size: 15px;
  line-height: 2;
  padding-bottom: .8em; }
  .post-archive h2 {
    margin: 0;
    font: bold 25px / 1.1 "ff-tisa-web-pro", Cambria, "Times New Roman", Georgia, Times, sans-serif; }
  .post-archive .date {
    padding-right: .7em; }

/* for archive page ends*/
/* middle*/
@media print, screen and (max-width: 48em) {
  .body_container {
    padding: 0 30px; }
  .content_container {
    padding-right: 15px; }
  .hidden_mid_and_down {
    display: none !important; }
  #sidebar {
    border-left-width: 0px; }
  #header .site-name {
    margin-bottom: 20px;
    text-align: center; }
  #header #nav-menu {
    position: relative;
    text-align: center; }
    #header #nav-menu a {
      padding: 0 15px;
      line-height: 27px;
      height: 27px;
      font-size: 13px; } }

/* small*/
@media print, screen and (max-width: 35.5em) {
  .body_container {
    padding: 0 20px; }
  .content_container {
    padding-right: 0; } }

blockquote,
.stressed {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 2.5em 0;
  padding: 0 0 0 50px;
  color: #555;
  border-left: none; }

blockquote::before,
.stressed-quote::before {
  content: "\201C";
  display: block;
  font-family: times;
  font-style: normal;
  font-size: 48px;
  color: #444;
  font-weight: bold;
  line-height: 30px;
  margin-left: -50px;
  position: absolute; }

strong,
b,
em {
  font-weight: bold; }

pre {
  margin: 2em 0; }

.hidden1 {
  display: none; }

/* back-to-top rocket*/
@media print, screen and (min-width: 48em) {
  #rocket {
    position: fixed;
    right: 50px;
    bottom: 50px;
    display: block;
    visibility: hidden;
    width: 48px;
    height: 48px;
    background: url("data:image/svg+xml,%3Csvg class='icon' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='48' height='48'%3E%3Cpath fill='%23555'  d='M896 96H128c-17.067 0-32 14.933-32 32s14.933 32 32 32h768c17.067 0 32-14.933 32-32s-14.933-32-32-32zM535.467 296.533c-12.8-12.8-32-12.8-44.8 0L277.333 509.867c-12.8 12.8-12.8 32 0 44.8s32 12.8 44.8 0L480 396.8v456.533c0 17.067 14.933 32 32 32s32-14.933 32-32V396.8l157.867 157.867c6.4 6.4 14.933 8.533 23.466 8.533s17.067-2.133 23.467-8.533c12.8-12.8 12.8-32 0-44.8L535.467 296.533z'/%3E%3C/svg%3E") no-repeat;
    opacity: 0; }
  #rocket.show {
    visibility: visible;
    opacity: 1; }
  #rocket.launch {
    opacity: 0;
    pointer-events: none; } }

/* *******************************************************
* Process timelime, (homepage)
******************************************************* */
#process {
  padding: 80px 0;
  background-color: #fff; }

#process .col-md-2 i {
  font-size: 50px;
  position: relative;
  top: 10px; }

#process .timeline-centered {
  position: relative;
  margin-bottom: 30px; }

#process .timeline-centered::before,
#process .timeline-centered::after,
#process .timeline-centered::before,
#process .timeline-centered::after {
  content: " ";
  display: table; }

#process .timeline-centered::after {
  clear: both; }

#process .timeline-centered::before {
  content: '';
  position: absolute;
  display: block;
  width: 4px;
  background: #f5f5f6;
  /*left: 50%;*/
  top: 50px;
  bottom: 50px;
  margin-left: 10px; }

#process .timeline-centered .timeline-entry {
  position: relative;
  /*width: 50%;
    float: right;*/
  margin-top: 5px;
  margin-left: 20px;
  margin-bottom: 10px;
  clear: both; }

#process .timeline-centered .timeline-entry::before,
#process .timeline-centered .timeline-entry::after {
  content: " ";
  display: table; }

#process .timeline-centered .timeline-entry::after {
  clear: both; }

#process .timeline-centered .timeline-entry.begin {
  margin-bottom: 0; }

#process .timeline-centered .timeline-entry.left-aligned {
  float: left; }

#process .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
  margin-left: 0;
  margin-right: -18px; }

#process .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
  left: auto;
  right: -100px;
  text-align: left; }

#process span.number {
  font-family: 'Georgia', serif, Helvetica, "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
  font-style: italic;
  font-size: 20px;
  line-height: 0;
  color: #E7E7E5;
  position: relative;
  top: -4px; }

#process .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
  float: right; }

#process .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
  margin-left: 0;
  margin-right: 70px; }

#process .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label::after {
  left: auto;
  right: 0;
  margin-left: 0;
  margin-right: -9px;
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.timeline-label p {
  font-family: Helvetica, "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
  margin-bottom: 3px; }

#process .timeline-centered .timeline-entry .timeline-entry-inner {
  position: relative;
  margin-left: -20px; }

#process .timeline-centered .timeline-entry .timeline-entry-inner::before,
#process .timeline-centered .timeline-entry .timeline-entry-inner::after {
  content: " ";
  display: table; }

#process .timeline-centered .timeline-entry .timeline-entry-inner::after {
  clear: both; }

#process .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
  position: absolute;
  left: -100px;
  text-align: right;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#process .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
  display: block; }

#process .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
  font-size: 15px;
  font-weight: bold; }

#process .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
  font-size: 12px; }

#process .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
  background: #fff;
  color: #737881;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-align: center;
  border: 4px solid #F5F5F6;
  line-height: 40px;
  font-size: 15px;
  float: left;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  margin-left: -9px; }

#process .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary {
  background-color: #303641;
  color: #fff; }

#process .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
  position: relative;
  background: #eee;
  padding: 30px;
  margin-left: 60px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

#process .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label::after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 9px 9px 0;
  border-color: transparent #eee transparent transparent;
  left: 0;
  top: 50%;
  margin-top: -9px;
  margin-left: -9px; }

#process .line {
  position: absolute;
  display: block;
  width: 4px;
  background: #eee;
  top: -3%;
  right: -30px;
  bottom: -3%; }

#process .present,
#process .born {
  font-size: 14px;
  font-family: 'Georgia', serif, Helvetica, "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
  font-style: italic;
  color: #333;
  padding: 10px;
  background-color: #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

#process .present::after,
#process .born::after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #eee;
  border-width: 10px;
  margin-top: -10px; }

#process .present {
  position: absolute;
  top: -3%;
  right: 0;
  margin-top: -20px;
  line-height: 100%; }

#process .born {
  position: absolute;
  bottom: -3%;
  right: 0;
  margin-bottom: -20px;
  line-height: 100%; }

#process .dot_tp {
  position: absolute;
  top: -3%;
  right: -35px;
  background-color: transparent;
  height: 15px;
  width: 15px;
  margin-top: -13px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #eee; }

#process .dot_bt {
  position: absolute;
  bottom: -3%;
  right: -35px;
  background-color: transparent;
  height: 15px;
  width: 15px;
  margin-bottom: -13px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #eee; }

@media (max-width: 768px) {
  #process .line {
    right: 10px; }
  #process .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
    margin-right: 30px;
    margin-left: 45px;
    padding: 20px; }
  #process .timeline-centered .timeline-entry {
    margin-right: 20px; }
  #process .dot_tp,
  #process .dot_bt {
    right: 5px; }
  #process .present,
  #process .born {
    right: 35px; } }

/* read more*/
.readmore a {
  font-size: 14px;
  color: #444;
  margin: -10px 0;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  float: right; }
  .readmore a:after {
    font-family: "FontAwesome";
    content: "\f101";
    padding-left: 0.3em; }
  .readmore a:hover {
    background: #F8F8F8;
    border-bottom-color: #D26911; }

/* syntax highlight*/
figure.highlight,
.codeblock {
  background: #f7f8f8;
  margin: 10px 0;
  line-height: 1.1em;
  color: #333;
  padding-top: 15px;
  overflow: hidden; }
  figure.highlight table,
  .codeblock table {
    display: block;
    width: 100%; }
  figure.highlight pre,
  figure.highlight .gutter,
  figure.highlight .code,
  figure.highlight .tag,
  .codeblock pre,
  .codeblock .gutter,
  .codeblock .code,
  .codeblock .tag {
    background-color: inherit;
    font-family: Menlo, Consolas, monospace;
    border: none;
    padding: 0;
    margin: 0;
    cursor: text; }
  figure.highlight .gutter,
  figure.highlight .code,
  .codeblock .gutter,
  .codeblock .code {
    vertical-align: top; }
  figure.highlight.plain .gutter,
  .codeblock.plain .gutter {
    display: none; }
  figure.highlight figcaption,
  .codeblock figcaption {
    font-size: 13px;
    padding: 0 15px 20px;
    margin: 0;
    background: #f7f8f8;
    color: #999999; }
    figure.highlight figcaption a,
    .codeblock figcaption a {
      float: right;
      color: #01579f; }
  figure.highlight .gutter,
  .codeblock .gutter {
    background: #f7f8f8;
    border-right: 1px solid #e6e6e6;
    padding: 0.3em 15px;
    user-select: none; }
  figure.highlight .code,
  .codeblock .code {
    padding: 0.3em 15px 0.3em 1em;
    width: 100%; }
    figure.highlight .code pre,
    .codeblock .code pre {
      max-width: 700px;
      overflow-x: auto;
      overflow-y: hidden; }
  figure.highlight .line,
  .codeblock .line {
    height: 1.3em;
    font-size: 13px; }

.gist .line,
.gist .line-number {
  font-family: Menlo, Consolas, monospace;
  font-size: 1em;
  margin: 0 0 5px 0;
  user-select: none; }

.highlight .comment {
  color: #969896; }

.highlight .string {
  color: #183691; }

.highlight .keyword {
  color: #a71d5d; }

.highlight.apacheconf .code .common,
.highlight.apacheconf .code .nomarkup,
.highlight.apacheconf .code .attribute,
.highlight.apacheconf .code .variable,
.highlight.apacheconf .code .cbracket,
.highlight.apacheconf .code .keyword {
  color: #0086b3; }

.highlight.apacheconf .code .sqbracket {
  color: #df5000; }

.highlight.apacheconf .code .section,
.highlight.apacheconf .code .tag {
  color: #63a35c; }

.highlight.bash .code .shebang {
  color: #969896; }

.highlight.bash .code .literal,
.highlight.bash .code .built_in {
  color: #0086b3; }

.highlight.bash .code .variable {
  color: #333; }

.highlight.bash .code .title {
  color: #795da3; }

.highlight.coffeescript .code .title {
  color: #795da3; }

.highlight.coffeescript .code .literal,
.highlight.coffeescript .code .built_in,
.highlight.coffeescript .code .number {
  color: #0086b3; }

.highlight.coffeescript .code .reserved,
.highlight.coffeescript .code .attribute {
  color: #1d3e81; }

.highlight.coffeescript .code .subst,
.highlight.coffeescript .code .regexp,
.highlight.coffeescript .code .attribute {
  color: #df5000; }

.highlight.cpp .code .preprocessor,
.highlight.c .code .preprocessor {
  color: #df5000; }

.highlight.cpp .code .meta-keyword,
.highlight.c .code .meta-keyword {
  color: #a71d5d; }

.highlight.cpp .code .title,
.highlight.c .code .title {
  color: #795da3; }

.highlight.cpp .code .number,
.highlight.cpp .code .built_in,
.highlight.c .code .number,
.highlight.c .code .built_in {
  color: #0086b3; }

.highlight.clj .code .builtin-name {
  color: #df5000; }

.highlight.clj .code .name {
  color: #795da3; }

.highlight.clj .code .number {
  color: #0086b3; }

.highlight.cs .code .preprocessor,
.highlight.cs .code .preprocessor .keyword {
  color: #333; }

.highlight.cs .code .title {
  color: #795da3; }

.highlight.cs .code .number,
.highlight.cs .code .built_in {
  color: #0086b3; }

.highlight.cs .code .xmlDocTag,
.highlight.cs .code .doctag {
  color: #63a35c; }

.highlight.css .code .at_rule,
.highlight.css .code .important,
.highlight.css .code .meta {
  color: #a71d5d; }

.highlight.css .code .attribute,
.highlight.css .code .hexcolor,
.highlight.css .code .number,
.highlight.css .code .function {
  color: #0086b3; }

.highlight.css .code .attr_selector,
.highlight.css .code .value {
  color: #333; }

.highlight.css .code .id,
.highlight.css .code .class,
.highlight.css .code .pseudo,
.highlight.css .code .selector-pseudo {
  color: #795da3; }

.highlight.css .code .tag,
.highlight.css .code .selector-tag {
  color: #63a35c; }

.highlight.diff .code .chunk,
.highlight.diff .code .meta {
  color: #795da3;
  font-weight: bold; }

.highlight.diff .code .addition {
  color: #55a532;
  background-color: #eaffea; }

.highlight.diff .code .deletion {
  color: #bd2c00;
  background-color: #ffecec; }

.highlight.http .code .attribute,
.highlight.http .code .attr {
  color: #183691; }

.highlight.http .code .literal {
  color: #0086b3; }

.highlight.http .code .request {
  color: #a71d5d; }

.highlight.ini .code .title,
.highlight.ini .code .section {
  color: #795da3; }

.highlight.ini .code .setting,
.highlight.ini .code .attr {
  color: #a71d5d; }

.highlight.ini .code .value,
.highlight.ini .code .keyword {
  color: #333; }

.highlight.java .code .title {
  color: #795da3; }

.highlight.java .code .javadoc {
  color: #969896; }

.highlight.java .code .meta,
.highlight.java .code .annotation,
.highlight.java .code .javadoctag {
  color: #a71d5d; }

.highlight.java .code .number {
  color: #0086b3; }

.highlight.java .code .params {
  color: #1d3e81; }

.highlight.js .code .built_in,
.highlight.js .code .title {
  color: #795da3; }

.highlight.js .code .javadoc {
  color: #969896; }

.highlight.js .code .tag,
.highlight.js .code .javadoctag {
  color: #a71d5d; }

.highlight.js .code .tag .title {
  color: #333; }

.highlight.js .code .regexp {
  color: #df5000; }

.highlight.js .code .literal,
.highlight.js .code .number {
  color: #0086b3; }

.highlight.json .code .attribute {
  color: #183691; }

.highlight.json .code .number,
.highlight.json .code .literal {
  color: #0086b3; }

.highlight.mak .code .constant {
  color: #333; }

.highlight.mak .code .title {
  color: #795da3; }

.highlight.mak .code .keyword,
.highlight.mak .code .meta-keyword {
  color: #0086b3; }

.highlight.md .code .value,
.highlight.md .code .link_label,
.highlight.md .code .strong,
.highlight.md .code .emphasis,
.highlight.md .code .blockquote,
.highlight.md .code .quote,
.highlight.md .code .section {
  color: #183691; }

.highlight.md .code .link_reference,
.highlight.md .code .symbol,
.highlight.md .code .code {
  color: #0086b3; }

.highlight.md .code .link_url,
.highlight.md .code .link {
  text-decoration: underline; }

.highlight.nginx .code .title,
.highlight.nginx .code .attribute {
  color: #a71d5d; }

.highlight.nginx .code .built_in,
.highlight.nginx .code .literal {
  color: #0086b3; }

.highlight.nginx .code .regexp {
  color: #183691; }

.highlight.nginx .code .variable {
  color: #333; }

.highlight.objectivec .code .preprocessor,
.highlight.objectivec .code .meta {
  color: #a71d5d; }
  .highlight.objectivec .code .preprocessor .title,
  .highlight.objectivec .code .meta .title {
    color: #df5000; }

.highlight.objectivec .code .meta-string {
  color: #183691; }

.highlight.objectivec .code .title {
  color: #795da3; }

.highlight.objectivec .code .literal,
.highlight.objectivec .code .number,
.highlight.objectivec .code .built_in {
  color: #0086b3; }

.highlight.perl .code .sub {
  color: #795da3; }

.highlight.perl .code .title {
  color: #795da3; }

.highlight.perl .code .regexp {
  color: #df5000; }

.highlight.php .code .phpdoc,
.highlight.php .code .doctag {
  color: #a71d5d; }

.highlight.php .code .regexp {
  color: #df5000; }

.highlight.php .code .literal,
.highlight.php .code .number {
  color: #0086b3; }

.highlight.php .code .title {
  color: #795da3; }

.highlight.python .code .decorator,
.highlight.python .code .title,
.highlight.python .code .meta {
  color: #795da3; }

.highlight.python .code .number {
  color: #0086b3; }

.highlight.ruby .code .parent,
.highlight.ruby .code .title {
  color: #795da3; }

.highlight.ruby .code .prompt,
.highlight.ruby .code .constant,
.highlight.ruby .code .number,
.highlight.ruby .code .subst .keyword,
.highlight.ruby .code .symbol {
  color: #0086b3; }

.highlight.sql .built_in {
  color: #a71d5d; }

.highlight.sql .number {
  color: #0086b3; }

.highlight.xml .tag, .highlight.html .tag {
  color: #333; }

.highlight.xml .value, .highlight.html .value {
  color: #183691; }

.highlight.xml .attribute,
.highlight.xml .attr, .highlight.html .attribute,
.highlight.html .attr {
  color: #795da3; }

.highlight.xml .title,
.highlight.xml .name, .highlight.html .title,
.highlight.html .name {
  color: #63a35c; }

.highlight.puppet .title {
  color: #795da3; }

.highlight.puppet .function {
  color: #0086b3; }

.highlight.puppet .name {
  color: #a71d5d; }

.highlight.puppet .attr {
  color: #0086b3; }

.highlight.less .tag,
.highlight.less .at_rule {
  color: #a71d5d; }

.highlight.less .number,
.highlight.less .hexcolor,
.highlight.less .function,
.highlight.less .attribute {
  color: #0086b3; }

.highlight.less .built_in {
  color: #df5000; }

.highlight.less .id,
.highlight.less .pseudo,
.highlight.less .class,
.highlight.less .selector-id,
.highlight.less .selector-class,
.highlight.less .selector-tag {
  color: #795da3; }

.highlight.lisp .code .name {
  color: #df5000; }

.highlight.lisp .code .number {
  color: #0086b3; }

.highlight.scss .tag,
.highlight.scss .at_rule,
.highlight.scss .important {
  color: #a71d5d; }

.highlight.scss .number,
.highlight.scss .hexcolor,
.highlight.scss .function,
.highlight.scss .attribute {
  color: #0086b3; }

.highlight.scss .variable {
  color: #333; }

.highlight.scss .built_in {
  color: #df5000; }

.highlight.scss .id,
.highlight.scss .pseudo,
.highlight.scss .class,
.highlight.scss .preprocessor,
.highlight.scss .selector-class,
.highlight.scss .selector-id {
  color: #795da3; }

.highlight.scss .tag,
.highlight.scss .selector-tag {
  color: #63a35c; }

.highlight.stylus .at_rule {
  color: #a71d5d; }

.highlight.stylus .tag,
.highlight.stylus .selector-tag {
  color: #63a35c; }

.highlight.stylus .number,
.highlight.stylus .hexcolor,
.highlight.stylus .attribute,
.highlight.stylus .params {
  color: #0086b3; }

.highlight.stylus .class,
.highlight.stylus .id,
.highlight.stylus .pseudo,
.highlight.stylus .title,
.highlight.stylus .selector-id,
.highlight.stylus .selector-pseudo,
.highlight.stylus .selector-class {
  color: #795da3; }

.highlight.go .typename {
  color: #a71d5d; }

.highlight.go .built_in,
.highlight.go .constant {
  color: #0086b3; }

.highlight.swift .preprocessor {
  color: #a71d5d; }

.highlight.swift .title {
  color: #795da3; }

.highlight.swift .built_in,
.highlight.swift .number,
.highlight.swift .type {
  color: #0086b3; }

.highlight.yml .line,
.highlight.yml .attr {
  color: #63a35c; }

.highlight.yml .line,
.highlight.yml .string,
.highlight.yml .type,
.highlight.yml .literal,
.highlight.yml .meta {
  color: #183691; }

.highlight.yml .number {
  color: #0086b3; }

/* post navigator*/
.post-nav {
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 10px;
  white-space: nowrap;
  border-top: 1px solid #eee; }
  .post-nav a {
    display: inline-block;
    line-height: 25px;
    font-size: 15px;
    color: #555;
    border-bottom: none;
    float: left; }
    .post-nav a.pre {
      float: left; }
      .post-nav a.pre:before {
        font-family: "FontAwesome";
        content: "\f0d9";
        padding-right: 0.3em; }
    .post-nav a.next {
      float: right; }
      .post-nav a.next:after {
        font-family: "FontAwesome";
        content: "\f0da";
        padding-left: 0.3em; }
    .post-nav a:hover {
      border-bottom: none;
      color: #222; }

/* toc*/
.toc-article {
  border: 1px solid #bbb;
  border-radius: 7px;
  margin: 1.1em 0 0 2em;
  padding: 0.7em 0.7em 0 0.7em;
  max-width: 40%; }

.toc-title {
  font-size: 120%; }

#toc {
  line-height: 1em;
  float: right; }
  #toc .toc {
    padding: 0;
    margin: 0.5em;
    line-height: 1.8em; }
    #toc .toc li {
      list-style-type: none; }
  #toc .toc-child {
    margin-left: 1em;
    padding-left: 0; }

@media print, screen and (max-width: 48em) {
  .toc-article {
    margin: 0em;
    max-width: 100%; }
  .clear {
    padding: 2.1em 0em 0em 0em; }
  #toc {
    float: none; } }

/* table*/
table {
  margin: auto auto 15px;
  width: 100%;
  background: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left; }
  table th {
    font-weight: bold;
    padding: 5px 10px;
    border-bottom: 2px solid #909ba2; }
  table td {
    padding: 5px 10px; }
  table tr:nth-child(2n) {
    background: #f7f8f8; }

/* article-share*/
.article-share-link {
  cursor: pointer;
  float: right;
  margin-left: 20px; }
  .article-share-link:before {
    font-family: "FontAwesome";
    content: "\f064";
    padding-right: 6px; }

.article-share-box {
  position: absolute;
  display: none;
  background: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin-left: -145px;
  overflow: hidden;
  z-index: 1; }
  .article-share-box.on {
    display: block; }

.article-share-input {
  width: 100%;
  background: none;
  box-sizing: border-box;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0 15px;
  color: #555;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 3px 3px 0 0;
  height: 36px;
  line-height: 36px; }

.article-share-links {
  clearfix: none;
  background: #eee; }

.article-share-element, .article-share-twitter, .article-share-facebook, .article-share-weibo, .article-share-qrcode {
  width: 50px;
  height: 36px;
  display: block;
  float: left;
  position: relative;
  color: #999;
  text-shadow: 0 1px #fff; }
  .article-share-element:before, .article-share-twitter:before, .article-share-facebook:before, .article-share-weibo:before, .article-share-qrcode:before {
    font-size: 20px;
    font-family: "FontAwesome";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    text-align: center; }
  .article-share-element:hover, .article-share-twitter:hover, .article-share-facebook:hover, .article-share-weibo:hover, .article-share-qrcode:hover {
    color: #fff; }

.article-share-twitter:before {
  content: "\f099"; }

.article-share-twitter:hover {
  background: #00aced; }

.article-share-facebook:before {
  content: "\f09a"; }

.article-share-facebook:hover {
  background: #3b5998; }

.article-share-weibo:before {
  content: "\f18a"; }

.article-share-weibo:hover {
  background: #d44137; }

.article-share-qrcode:before {
  content: "\f029"; }

.article-share-qrcode:hover, .article-share-qrcode:active {
  background: #38ad5a; }
  .article-share-qrcode:hover ~ .qrcode, .article-share-qrcode:active ~ .qrcode {
    display: block;
    text-align: center; }

.qrcode {
  display: none; }

/* search result*/
ul.search-result-list {
  padding-left: 10px; }

a.search-result-title {
  font-weight: bold;
  font-size: 15px;
  color: #555; }

p.search-result {
  color: #444;
  text-align: justify; }

em.search-keyword {
  font-weight: bold;
  font-style: normal;
  color: #01579f; }

/* Disqus Button */
.disqus_click_btn {
  line-height: 30px;
  margin: 0;
  min-width: 50px;
  padding: 0 14px;
  display: inline-block;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border: 0;
  background: rgba(158, 158, 158, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  background-color: #999999;
  text-shadow: 0; }

/* Waline CSS*/
#waline {
  /* 字体大小 */
  --waline-font-size: 16px;
  /* 常规颜色 */
  --waline-white: #fff;
  --waline-light-grey: #999;
  --waline-dark-grey: #666;
  /* 主题色 */
  --waline-theme-color: #34495e;
  --waline-active-color: #bababa;
  /* 布局颜色 */
  --waline-text-color: #444;
  --waline-bgcolor: #fff;
  --waline-bgcolor-light: #f8f8f8;
  --waline-bgcolor-hover: #f0f0f0;
  --waline-border-color: #ddd;
  --waline-disable-bgcolor: #f8f8f8;
  --waline-disable-color: #bbb;
  --waline-code-bgcolor: #282c34;
  /* 特殊颜色 */
  --waline-bq-color: #f0f0f0;
  /* 头像 */
  --waline-avatar-size: 3.25rem;
  --waline-mobile-avatar-size: calc(var(--waline-avatar-size) * 9 / 13);
  /* 徽章 */
  --waline-badge-color: #34495e;
  --waline-badge-font-size: 0.775em;
  /* 信息 */
  --waline-info-bgcolor: #f8f8f8;
  --waline-info-color: #999;
  --waline-info-font-size: 0.625em;
  /* 渲染选择 */
  --waline-border: 1px solid var(--waline-border-color);
  --waline-avatar-radius: 50%;
  --waline-box-shadow: none; }

/* Darkmode CSS*/
html[data-dark='true'] {
  background-color: #121212 !important;
  filter: invert(100%) hue-rotate(180deg) brightness(105%) contrast(85%);
  -webkit-filter: invert(100%) hue-rotate(180deg) brightness(105%) contrast(85%); }
  html[data-dark='true'] img {
    filter: hue-rotate(180deg) contrast(100%) invert(100%);
    -webkit-filter: hue-rotate(180deg) contrast(100%) invert(100%); }

.darkmode-toggle {
  background: #a2a2a2;
  width: 3rem;
  height: 3rem;
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  left: 32px;
  bottom: 32px;
  right: unset;
  cursor: pointer;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center; }

/* Links Layout*/
.link-items {
  display: flex;
  text-align: center;
  justify-content: left;
  flex-wrap: wrap;
  padding: 0px 0.5rem;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 20px; }
  .link-items .link-item {
    display: inline-flex;
    --primary-color: #444; }
    .link-items .link-item .link-url {
      display: inline-flex;
      text-align: center;
      justify-self: center;
      line-height: 1.5;
      width: 15rem;
      color: var(--primary-color, #000);
      padding: 0.5rem 1rem;
      margin: 0.5rem;
      transition: all 0.2s ease 0s; }
      .link-items .link-item .link-url .link-left {
        display: inline-block;
        line-height: 0; }
        .link-items .link-item .link-url .link-left .link-avatar {
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
          transition: all 0.5s ease 0s; }
      .link-items .link-item .link-url .link-info {
        padding-left: 0.6rem;
        display: block; }
        .link-items .link-item .link-url .link-info .link-blog {
          font-size: 1.24rem;
          font-weight: 700;
          margin: 0.42rem 0px; }
        .link-items .link-item .link-url .link-info .link-desc {
          font-size: 0.8rem;
          font-weight: normal;
          margin-top: 0.5rem;
          width: 10.5rem;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden; }
